* {
	font-family: 'Roboto', sans-serif;
}

.card {
	padding: 20;
	margin-top: 20;
	margin-bottom: 20;
}

.boxVerticalCenter {
	display: 'flex';
	flex-direction: 'column';
	justify-content: 'center';
	align-items: 'center';
}

.boxHorizontalCenter {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: 'center'; 
}

.title {
	text-align: 'center';
	font-size: 24;
	margin-bottom: 20;
}

.textField {
	margin-top: 10;
	margin-bottom: 10;
}

.button {
	margin-top: 10;
	margin-bottom: 10;
}
